{# Copyright (C) 2020 CipherMail B.V. <https://www.ciphermail.com/>
 # Copyright (C) 2020 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
auth required pam_yubico.so \
              id={{ item.yubico_id |d(openvpn__yubico_id) }} \
              key={{ item.yubico_key |d(openvpn__yubico_key) }} \
              urllist={{ item.yubico_urllist |d(openvpn__yubico_urllist) | join(";") }} \
              token_id_length={{ item.yubico_token_id_length |d(openvpn__yubico_token_id_length) }} \
              ldap_cacertfile={{ item.ldap_cacertfile |d(openvpn__ldap_cacertfile) }} \
              ldap_uri={{ item.ldap_uri |d(openvpn__ldap_uri) }} \
              ldap_bind_user={{ item.ldap_bind_dn |d(openvpn__ldap_bind_dn) }} \
              ldap_bind_password={{ item.ldap_bind_password |d(openvpn__ldap_bind_password) }} \
              ldapdn={{ item.ldap_peopledn |d(openvpn__ldap_peopledn) }} \
              [ldap_filter={{ item.ldap_filter |d(openvpn__ldap_filter) |regex_replace("\n", "") }}] \
              user_attr={{ item.ldap_user_attr |d(openvpn__ldap_user_attr) }} \
              yubi_attr={{ item.ldap_yubi_attr |d(openvpn__ldap_yubi_attr) }} \
              yubi_attr_prefix={{ item.ldap_yubi_attr_prefix |d(openvpn__ldap_yubi_attr_prefix) }}
              {%- if item.yubico_nullok |d(openvpn__yubico_nullok) %} nullok{% endif %}
              {%- if item.yubico_debug |d(openvpn__yubico_debug) %} debug{% endif %}

@include common-auth
