{# Copyright (C) 2020 CipherMail B.V. <https://www.ciphermail.com/>
 # Copyright (C) 2020 DebOps <https://debops.org/>
 # SPDX-License-Identifier: GPL-3.0-or-later
 #}
# {{ ansible_managed }}

mode server
user nobody
group nogroup

# Network settings
proto udp6
port {{ item.port|d(openvpn__port) }}
dev {{ item.dev|d(openvpn__dev) }}
keepalive {{ item.keepalive|d(openvpn__keepalive) }}

# Secure the control channel with TLS
tls-server
tls-version-min {{ item.tls_version_min|d(openvpn__tls_version_min) }}
tls-cipher {{ item.tls_cipher|d(openvpn__tls_cipher) }}
ecdh-curve {{ item.ecdh_curve|d(openvpn__ecdh_curve) }}
dh /etc/pki/dhparam/set0
ca {{ item.ca|d(openvpn__ca) }}
cert {{ item.cert|d(openvpn__cert) }}
key {{ item.key|d(openvpn__key) }}

# Use PAM authentication instead of default X.509 authentication
verify-client-cert none
username-as-common-name
plugin openvpn-plugin-auth-pam.so openvpn-{{ item.name }}
{% if item.auth_gen_token|d(openvpn__auth_gen_token) %}
auth-gen-token {{ item.auth_gen_token|d(openvpn__auth_gen_token) }}
{% endif %}
{% if item.duplicate_cn|d(openvpn__duplicate_cn) %}

# Allow multiple tunnels from the same user
duplicate-cn
{% endif %}

# Data channel crypto
{% if item.ncp_disable|d(openvpn__ncp_disable) %}
ncp-disable
{% endif %}
cipher {{ item.cipher|d(openvpn__cipher) }}
auth {{ item.auth|d(openvpn__auth) }}

# Persist keys and TUN/TAP device across restarts
persist-key
persist-tun
{% if item.options|d(openvpn__options) %}

# Custom options
{{ item.options }}
{% endif %}
